

html
{
  box-sizing: border-box;
}
 
*, *:before, *:after
{
box-sizing: inherit;
}

body
{
  font-size: 15px;
  font-family: 'Aldrich', sans-serif;
}

#wrapper
{
  max-width: 1300px;
  margin: 0 auto;
  background-color: white;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



nav
{
background-color: rgb(51, 51, 51);
}

nav ul
{
  display: flex;
  flex-direction: row;
  padding: 0.7em 0 0.7em 0.5em;
  margin: 0.25em 0;
}

nav ul li
{
  list-style-type: none;
}

nav ul li .active, nav ul li:hover .active
{
  background-color: #4c96d7;
  color: black;
}

nav ul li a:hover
{
  background-color: #a6cbeb;
  color: #3a3a3a;
}

nav ul li a
{
  color: white;
  padding: 0.7em;
  text-decoration: none;
}


 /* account welcome box  */
.account-link
{
padding-right: 1em;
color:rgb(0, 0, 0);
text-decoration: none;
}
.welcome-msg
{
  display: block;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 0.05em;
  font-size: smaller;
  padding: 0 1em 1em 0;
  margin-top: -0.5em;
  color: #0a366e;
  font-weight:100;
  text-decoration: none;
}

.acct-welcome-box
{
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.back-link{
  width: 100%;
  text-align: center;
}

.acct-bar-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-link
{
  padding-right: 0.5em;
}
.search-link img
{
  max-width: 30px;
}

main
{
  padding: 1em;
}

h1
{
  font-size: 1.5em;
}

/* home page  */
.vehicle-display-box
{
  position: relative;
  text-align: center;
}
.vehicle-display-box img
{
  width: 100%;
  margin-top: 2em;
  max-width: 1000px;
}
.vehicle-display-box div
{
  text-align: left;
  position: absolute;
  background-color: rgba(241, 241, 241, 0.418);
  top: 1em;
  left: 1em;
  font-size: small;
  color: #4c96d7;
}
.vehicle-display-box div button
{
  padding: 0.5em 1em;
  background-color: #4c96d7;
  display: none;
}
#own-today-btn-mobile{
  padding: 1em 2em;
  font-size: larger;
  background-color: #4c96d7;
  display: table;
  margin: 1em auto;
}

.vehicle-reviews-box
{
  margin-top: 2em;
}
.vehicle-reviews-box li
{
  padding: 0.6em;
}

.vehicle-upgrades-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  text-align: center;
}

.upgrade-img-box
{
  background-color: #4c96d7;
  width: 100%;
  min-height: 125px;
}
.upgrade-img-box img
{
  padding: 1em;
}

a:hover
{
  color:#741786;
}

/* login form  */

form
{
  border-radius: 8px;
  background-color: #e6e6e6;
  padding: 18px;
  max-width: 350px;
  margin: 1em auto 3em;
}

form input[type=text], input[type=email], 
input[type=password], select,
input[type=textarea], input[type=number]
{
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=color]
{
  width: 50%;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  box-sizing: border-box;
}

textarea
{
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

input[type=submit] 
{
  width: 100%;
  background-color: #20619b;
  color: white;
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover
{
  background-color: #193f61;
}

.form-info
{
  text-align: center;
}

.form-info div
{
  padding: 1em 0 0.25em;
}

.form-columns
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.add-vehicle-form label
{
  font-size: smaller;
  color:rgb(18, 42, 73);
}

/* input:invalid:focus
{
  border: 1px solid darkred;
} */

.passreqs
{
  font-size: small;
  font-weight: bold;
}

.hinted
{
  position: relative;
}
.hinttext
{
  display: none;
  min-width: 250px;
  visibility: hidden;
  background-color: rgb(206, 231, 255);
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  font-size: smaller;
  /* Position the tooltip */
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
.hinted:hover .hinttext {
  visibility: visible;
}


.message-yes
{
  color: rgb(14, 104, 14);
}
.message-no
{
  color: rgb(105, 6, 6);
}

.vehicle-management
{
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
  border-radius: 5px;
  max-width: 300px;
  margin: 3em auto;
}

.vehicle-management a
{
  background-color: rgb(255, 255, 255);
  padding: 8px;
  color: black;
  text-decoration: none;
  margin: 0.5em;
  text-align: center;
  box-shadow: 1px 1px 5px black;
}

.vehicle-management a:hover
{
  background-color: rgb(218, 218, 218);
}

#inventoryDisplay
{
  width: 90%;
  text-align: center;
  margin: 1em 0;
}

.vehicle-class
{
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
  border-radius: 5px;
  max-width: 400px;
  margin: 2em auto;
}

.vehicle-class a
{
  background-color: rgb(255, 255, 255);
  padding: 5px;
  color: black;
  text-decoration: none;
  margin: 0.2em;
  text-align: center;
  box-shadow: 1px 1px 5px black;
}

.vehicle-class a:hover
{
  background-color: rgb(218, 218, 218);
}

td
{
  padding: 0.5em 0;
}

.small-logout
{
  font-size: small;
  margin-top: 4em;
}


#inv-display{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
 }
 
 #inv-display li{
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
  padding: 0.5em 0.5em;
  margin: 1em 0.5em 0.5em;
  background-color: #f4f4f4;
 }
 #inv-display li span{
  padding: 1em 0em 1em;
  display: block;
 }
 #inv-display li h2{
  margin: 0;
 }
 #inv-display li img {
     max-width: 100%;
 }

 .currency-format::before {
  content:"$";
}

.vehicle-summary
{
  font-size: medium;
}
.vd-summary
{
padding: 0em;
}
.vd-summary table, thead, tbody, tr, th, td {
  display: block; text-align: left;
  padding: 0.2em 0.3em;
}
.td-label
{
  font-size: medium;
}
.td-value
{
  margin-left: 2em;
  font-weight: lighter;
  margin-bottom: 0.5em;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: rgb(242, 242, 242)}


/* home page  */
#vehicle-detail-display
{
  position: relative;
  text-align: center;
}

#prime-img
{
  width: 100%;
  margin-top: 2em;
  max-width: 800px;
}

#vehicle-img-grid h3
{
  display: none;
}

#vehicle-img-grid .vehicle-thumb-display
{
  display: none;
}

#vehicle-deets .vehicle-thumb-display
{
  display: flex;
  flex-direction: row;
}
.vehicle-thumb-display
{
  justify-content: center;
  background-color: rgb(252, 252, 252);
  margin-top: 1em;
}
.vehicle-thumb-display img
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  max-width: 150px;
  max-height:200px;
  transition: 0.5s;
  align-self: center;
  cursor: pointer;
}
.vehicle-thumb-display img:hover
{
  margin-top: 1em;
  padding: 0.5em;
  max-width: 300px;
}


.vehicle-search-results
{
  margin: 0;
  padding: 0;
}
.vehicle-search-results li
{
  list-style: none;
  background-color: rgb(247, 247, 247);
  margin: 1em 0;
  padding: 0.2em 1em;
  border: 1px solid rgb(224, 224, 224);
}
.vehicle-search-results a
{
  text-decoration: none;
  font-size: large;
}
.vehicle-search-results h4
{
  margin: 0.5em 0;
}

.vehicle-search-results img
{
  max-width: 130px;
  box-shadow: 2px 2px 5px rgb(94, 94, 94);
}

.vehicle-search-results p
{
  font-size: small;
}


.pagination
{
  display: flex;
  flex-direction: row;
  padding: 0.1em 1em;
  border: 1px solid rgb(230, 230, 230);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.pagination a
{
  display: inline-block;
}
.pagination ul
{
  display: inline-block;
  margin: 0;
  padding: 0 1em;
}
.pagination li
{
  display: inline-block;
  padding: 0.1em 0.2em;
  margin: 0.1em 0.2em;
}


/* footer */
footer
{
  border-top: 8px solid rgb(51, 51, 51);
  text-align: center;
  padding: 0.5em;
  font-size: 0.9em;
  border: 1px solid rgb(175, 175, 175);
}